.text-contrast{
    cursor: pointer;
    .contrast-panel{
        background-color: #fff;
        padding: 24px;
    }
    .item{
        font-size: 16px;
    }
    .el-progress{
        display: flex;
        align-items: center;
        width: 350px;
    }
    .item-title{
        color: #666;
    }
    .el-progress__text{
        white-space: nowrap;
    }
    .contrast-content{
        display: flex;
        .contrast-l,.contrast-r{
            padding: 24px;
            font-size: 14px;
            background: #FAFAFA;
            width: 50%;
            min-height: 300px;
            
        }
        .contrast-l{
            margin-right: 20px;
        }
    }
   
}