.data-list{
    cursor: pointer;
    .selector-panel{
        display: flex;
        align-items: center;
    }
    .el-input-group__append{
        background-color: #fff;
        border: none;
    }
    .el-input-group--append .el-input__inner{
        border: none;
    }
    .deep-search{
        color: #1677FF;
        cursor: pointer;
    }
}