.data-list{
    overflow-y: scroll;
    cursor: pointer;
    .active-color{
        color: #1677FF;
        cursor: pointer;
        margin-left: 10px;
    }
    .selector-panel{
        display: flex;
        align-items: center;
    }
    .el-input-group__append{
        background-color: #fff;
        border: none;
    }
    .el-input-group--append .el-input__inner{
        border: none;
    }
    .deep-search{
        color: #1677FF;
        cursor: pointer;
    }
    .selector-item{
        padding-left: 40px;
        font-size: 14px;
    }
    .el-radio{
        margin-right: 10px;
    }
    .list-container{
        margin-top: 16px;
        background-color: #fff;
        padding: 16px 24px;
    }
    .table-oper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .check-num{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        line-height: 46px;
        padding: 0 24px;
        width: 100%;
        background: rgba(0,0,0,0.02);
        border-radius: 6px;
        border: 0px solid rgba(0,0,0,0.88);
        margin-bottom: 10px;
        color: rgba(0,0,0,0.45);
        font-size: 14px;
    }
    .el-table__header {
        tr th.el-table__cell{
            background: #FAFAFA;;
            color: #000;
        }
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell{
       background-color: #E6F7FF;
   }
   .rowStyle{
    background-color:#E6F7FF!important;
  }
  .el-button{
    white-space: nowrap;
  }
  .dot-item{
    display: flex;
    align-items: center;
    .dot-green{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #52C41A;
        margin-right: 10px;
    }
    .dot-red{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FF4D4F;
        margin-right: 10px;
    }
  }
   
}