.org-list{
    cursor: pointer;
    .selector-panel{
        display: flex;
        align-items: center;
    }
    .el-input{
        width: 300px;
    }

    .selector-item{
        padding-left: 40px;
        font-size: 14px;
    }
    .list-container{
        margin-top: 16px;
        background-color: #fff;
        padding: 16px 24px;
    }
    .table-oper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .el-table__header {
        tr th.el-table__cell{
            background: #FAFAFA;;
            color: #000;
        }
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell{
       background-color: #E6F7FF;
   }
   .rowStyle{
    background-color:#E6F7FF!important;
  }
   
}