.login{
    position: relative;
    width: 1920px;
    height: 880px;
    background-image: url('../../assets/login-bg.png');
    background-size: contain;
    .login-header{
        height: 80px;
        display: flex;
        align-items: center;
    }
    .login-logo{
        background-image: url('../..//assets/login-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        display: block;
    }
    .title{
        font-weight: 600;
        color: #2B3940;
        line-height: 22px;
    }
    // .content-bg{
    //     width: 1920px;
    //     height: 880px;
    //     background-image: url('../../assets/login-bg.png');
    //     background-size: contain;
        
    // }
    .input-panel{
        width: 404px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #F4F4F4;
        padding: 32px;
        box-sizing: border-box;
    }
    .el-button{
        width: 100%;
    }
    .el-form-item__content{
        margin-left: 0;
    }
    .forget-pwd{
        text-align: right;
        cursor: pointer;
    }
}